In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
cols = ['age','workclass','fnlwght', 'education','education_num','marital_status', 'occupation', 'relationship','race', 'sex','captial_gain','captial_loss', 'hours_per_week','native_country','income']

In [3]:
data = pd.read_csv("C:\\Users\\lenovo\\Downloads\\capstone\\adult.data", names = cols)

In [4]:
data.head()

,age,workclass,fnlwght,education,education_num,marital_status,occupation,relationship,race,sex,captial_gain,captial_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
data.income.value_counts()

 <=50K    24720
 >50K      7841
Name: income, dtype: int64

In [6]:
data.income.value_counts(normalize=True)

 <=50K    0.75919
 >50K     0.24081
Name: income, dtype: float64

In [7]:
data.replace(' ?', np.nan, inplace = True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
age               32561 non-null int64
workclass         30725 non-null object
fnlwght           32561 non-null int64
education         32561 non-null object
education_num     32561 non-null int64
marital_status    32561 non-null object
occupation        30718 non-null object
relationship      32561 non-null object
race              32561 non-null object
sex               32561 non-null object
captial_gain      32561 non-null int64
captial_loss      32561 non-null int64
hours_per_week    32561 non-null int64
native_country    31978 non-null object
income            32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
data['workclass'] = data['workclass'].fillna(data.workclass.mode()[0])

data['occupation'] = data['occupation'].fillna(data.occupation.mode()[0])

data['native_country'] = data['native_country'].fillna(data.native_country.mode()[0])

In [ ]:
cat = data['native_country']

In [ ]:
top = cat.value_counts().nlargest(1).index
top

Index([' United-States'], dtype='object')

In [ ]:
data['native_country'] = cat.where(cat.isin(top), other = 'non-us')

In [ ]:
data['Income'] = data.income.map({' <=50K':0,' >50K':1})

In [ ]:
data.head()

,age,workclass,fnlwght,education,education_num,marital_status,occupation,relationship,race,sex,captial_gain,captial_loss,hours_per_week,native_country,income,Income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,non-us,<=50K,0

In [ ]:
data.columns

Index(['age', 'workclass', 'fnlwght', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'captial_gain', 'captial_loss', 'hours_per_week', 'native_country',
       'income', 'Income'],
      dtype='object')

In [ ]:
new_data = data.drop(['fnlwght', 'education', 'captial_gain', 'captial_loss', 'income'], axis = 1)

In [ ]:
new_data.head()

,age,workclass,education_num,marital_status,occupation,relationship,race,sex,hours_per_week,native_country,Income
0,39,State-gov,13,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,0
1,50,Self-emp-not-inc,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,0
2,38,Private,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,0
3,53,Private,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,0
4,28,Private,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,non-us,0

In [ ]:
data_dummies = pd.get_dummies(new_data, drop_first=True)

In [ ]:
x = data_dummies.drop('Income',axis = 1)
y = data_dummies.Income

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [ ]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size = 0.30, random_state = 123)

In [ ]:
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

In [ ]:
rf = RandomForestClassifier(max_depth=6)
rf.fit(xtrain, ytrain)
model = rf.predict(xtest)

In [ ]:
accuracy_score(ytest, model)

In [ ]:
results = confusion_matrix(ytest, model)
results

In [ ]:
print(classification_report(ytest, model))